@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

/* General Styles */
body {
    font-family: 'Lateef', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
button {
    font-family: 'Lateef', sans-serif;
}
header {
    background-color: #252626;
    padding: 10px 0;
    text-align: center;
    height: 40px;
}

header .logo {
    max-height: 40px;
}

.home {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://ik.imagekit.io/amirfaramarzpour/tVBUlIw.gif?updatedAt=1734995550622'); /* Add your desired background image or GIF URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-content {
    background-color: rgba(255, 255, 255, 0.1); /* Optional: Add a slight background for readability */
    padding: 20px;
    border-radius: 10px;
    margin-top: 200x; /* Add margin-top to move it down */
}


.home h2 {
    margin: 0;
    font-size: 2.5rem;
    color: #201f1f;
}

.home p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #5930d4;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
}

button {
    background-color: #098409;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 200px;
}

button:hover {
    background-color: #2b9127;
}

.content-section {
    padding: 20px;
    text-align: center;
    background-color: #E7E8D1;
    color: #000000;

}

footer {
    background-color: #252626;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center; /* Center text vertically */
    padding: 5px 0; /* Adjusted padding */
    position: relative;
    height: 40px; /* Increased height */
    justify-content: center;
    margin-top: 0px; /* Added margin to separate from content above */
}


/* Menu Styles */
.menu-category {
    margin-bottom: 20px;
}

.category-button {
    background-color: #2C5F2D;
    color: #ffffff; /* Change this to your desired text color */
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70%;
    font-size: 1.5em;
    margin-bottom: 10px;
}


.category-button:hover {
    background-color: #4fc64b;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.menu-item {
    background-color: #E7E8D1;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item-name {
    margin: 5px 0;
    font-size: 1.6em;
}

.item-desc {
    color: #B85042;
    font-size: 1.3em;
}

.item-price {
    color: #2A3132;
    font-weight: regular;
    font-size: 1.2em;
}

.social-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    text-align: left;
}

.social-buttons a {
    display: inline-block;
    margin: 0 10px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 12px;}



/* Mobile Optimization */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
        font-size: 1.2rem; /* Ensure the font size is the same as in desktop mode */
    }

    button {
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1rem;
    }

    .menu-items {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .home-content {
        padding: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 1.2rem;
    }

    .home h1 {
        font-size: 1.8rem;
    }

    .home p {
        font-size: 0.9rem;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        font-size: 1.2rem; /* Ensure the font size is the same as in desktop mode */
    }

    .content-section {
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}
